        .box{
         width:600px;
         margin:0 auto;
        }
        .contain{
            padding: 1px 16px;
            margin-top:30px;
            line-height: 1.5;
        }
       .box1{
            border:1px solid #ccc;
            border-radius:3px; 
        }
        .box2{
            background-color: #ffe7e7;
            border-right: 7px red solid;
            border-left: 6px red solid;
        }
        .box3{
            background-color: #ffffd7;
            border-top: 6px  #ffeb3b solid;
            border-bottom: 7px #ffeb3b solid;
        }
        .box4{
            background-color: #e7ffe7;
            border: 1px  #4CAF50 solid;
            border-bottom:7px #4CAF50 solid;
        }