/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html,body {
    height:100%;
}
/*common css*/
body {
    background: linear-gradient(to bottom, rgba(164,217,232,0.1) 0%,rgba(0,92,135,0.8) 100%), url(../images/head.jpg) no-repeat center;
    background-size: cover;
    font-size: 12px;
}
header {
    width: 100%;
    position: relative;
}
header .user-login {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}
main .flip-modal {
    display: none;
}
main .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    padding: 16px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.4);
}
.modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
}
.modal .tabs {
    text-align: center;
}
.modal .tabs a {
    display: inline-block;
    padding: 5px 0;
    margin: 0 10px;
    font-size: 16px;
    color: #666;
}
.modal .tabs a.active {
    border-bottom: 2px solid #333;
    color: #333;
}
.modal .content {
    padding: 20px 40px;
}
.modal .content .errormsg {
    color: orange;
}
.modal .content .input-field {
    position: relative;
    margin-top: 10px;
}
.modal .content .input-field i {
    position: absolute;
    left: 10px;
    top: 12px;
}
.modal .content input[type='text'],
.modal .content input[type='password'] {
    width: 100%;
    padding: 10px 10px 10px 28px;
    border: 1px solid #ccc;
    outline: none;
}
.modal .content button {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 6px 10px;
    background: #fff;
}
.flip-modal.login .modal-login,
.flip-modal.register .modal-register{
    transform: translate(-50%, -50%) rotateY(0deg);
    backface-visibility: hidden;
    transition: all 1s;
}
.flip-modal.login .modal-register,
.flip-modal.register .modal-login {
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1s;
}



