
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
/* common css */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.layout {
    margin: 200px auto;
    width: 80%;
    min-width: 1000px;
}
.p-text {
    font: 14px/1.5 'Playfair Display', serif;
    font-style: italic;
    color: #888;
}
.h-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ellipsis {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    background: #fed136;
    font: 28px  'Rammetto One';
    color: #fff;
    opacity: 0.8;
}
.button:hover {
    box-shadow: 6px 9px 35px -8px rgba(235,197,85,0.7);
    opacity: 1;
}
body {
    background: #fff;
    color: #333;
}
/* header css */
header {
    position: relative;
    margin: 0 auto;
    padding: 1px;
    height: 100vh;
    width: 100%;
    background: #ccc url("../images/head.jpg")  no-repeat;
    background-size: cover;
    text-align: center;
}
header .navbar {
    margin: 20px auto;
}
header .logo {
    position: absolute;
    top: 20px;
    left: 0;
    float: left;
    margin-left: 60px;
    font: 32px 'Indie Flower', cursive;
    color: #fed136;
}
header .nav {
    margin-right: 60px;
}
header .nav>li{
    float: right;
    margin-right: 10px;
}
header .nav a {
    display: inline-block;
    padding: 8px; 
    font: 18px serif bold;
    color: #fff;
}
header .nav a:hover{
    color: #fed136;
}
header .intro {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%); 
    width: 100%;
}
header .intro h1{
    margin-bottom: 30px;
    font: 50px/1.5 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 0.1em;
    color:#fff; 
}
header .intro h2 {
    margin-bottom:30px;
    font-size: 80px;
    color: #fff;
}

/* section1 城市特色 */

section .title {
    margin: 50px auto;
    text-align: center;
}
section .title h1 {
    font-size: 32px;
} 
section .feature {
    margin-top: 100px;
}
section .feature li {
    float: right;
    width: calc(33.3% - 80px);
    padding: 0 15px;
    margin: 0 40px;
    text-align: center;
}
section .feature li>h3 {
    margin: 30px 0;
}
section .iconfont {
    display: inline-block;
    padding: 20px;
    background: #fed136;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 60px;
    color: #fff;
}

/* section2 景点推荐 */

section .viwpoint li {
    float: right;
    width: calc(33.33% - 40px);
    margin: 30px 20px;
    padding-bottom: 20px;
<<<<<<< HEAD
=======
    border: 1px solid #fff;
>>>>>>> f42f2415fd3dea2769e32c276a769ea1c86b89c8
    background-color: #eee;
}
section .viwpoint a {
    display: block;
    position: relative;
    height: 280px;
}
section .viwpoint img {
    width: 100%;
    height: 100%;
}
section .viwpoint h4 {
    text-align: center;
    margin: 15px auto;
}
section .viwpoint p {
    text-indent: 2em;
    font-style: normal; 
    margin: 0 10px;
    font-size: 12px; 
    color: #888; 
}

section .viwpoint  span {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font: 100px 'iconfont';
    color: #fff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px; 
    background: #fed136 ;
    opacity:0.8;
    display: none;
}
section .viwpoint a:hover .go {
    display: block;
}

/* section3 上海历史*/

section .history li:after {
    content: '';
    display: block;
    clear: both;
}
section .history li {
    margin-bottom: 60px;
}
section .history li > img{
    height: 160px;
    width:160px;
    border: 4px solid #f8dd7a;
    border-radius: 50%;
}
section .history li dt {
    font-weight: bold;
    font-size: 18px;
}
section .history li:nth-child(odd) img {
    float: right;
}
section .history li:nth-child(odd) {
    padding-right: calc(50% - 80px);
}
section .history li:nth-child(odd) dl {
    margin-right: 180px; 
    text-align: right; 
    padding-top: 20px;
    padding-bottom: 20px;
}
section .history li:nth-child(even) img {
    float:left;
}
section .history li:nth-child(even) {
    padding-left: calc(50% - 80px );
}
section .history li:nth-child(even) dl {
    margin-left: 180px;  
    text-align: left; 
    padding-top: 20px;
    padding-bottom: 20px;
}
section .history li:last-child {
    padding-left: calc(50% - 80px );
}
section .history li:last-child span {
    display: block;
    height: 160px;
    width: 160px;
    border: 4px solid #f8dd7a;
    border-radius: 50%;
    padding-top: 50px;
    background-color: #fed136;
    text-align: center;
    color: #fff;
    font: 22px bold;
}
#history {
    position: relative;
}
#history .history:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    height: 1000px;
    border-left: 4px dashed #f8dd7a;
    z-index: -1;
}

/* section4 购物推荐 */

section .shopping li {
    float: left;
    width: calc(33.3% - 100px);
    margin: 0 50px;
    text-align: center;
}
section .shopping li>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #f8dd7a;
    margin-bottom: 20px;
}
section .shopping li dt {
    font-weight: bold;
}
section .shopping li dd {
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
}
section .shopping li>a:hover span{
    color: #fed136;
}
section .shopping li span {
    font: 40px 'iconfont';
    color: #333;
    letter-spacing: 0.4em;
}

/******广告栏******/
footer .adBar img {
    height: 50px; 
    margin: 0 10px;   
}
footer .adBar {
    margin: 100px auto;
    text-align: center;
}

/***联系我们***/

#contact {
    width: 100%;
    height: 100vh;
    background: rgb(61, 61, 61) url("../images/footer.jpg") ;
    background-size: cover;
    padding: 1px;
    text-align: center;
}
#contact .title {
    margin: 100px auto;
}
#contact .title h1 {
    font-size: 40px;
    color: #fed136;    
}
section form .input {
    width: 50%;
    float: left;
}
section form .input input {
    display: block;
    width: calc(100% - 210px);
    height: 60px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}
section form #message {
    float: right;
    width: calc(50% - 160px);
    height: 220px;
    margin-right: 150px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}
section form #message::placeholder {
    font: 14px bold;
}
#contact a {
    display: inline-block;
    
    margin-top: 30px;
}

/******** 页脚 *******/

footer .footer{
    width: 80%;
    margin: 0 auto;
}
footer .footer span {
    float: left;
    width: calc(33.3% - 20px);
    margin: 20px 10px;
    text-align: center;
    
}
footer .footer span a {
    vertical-align: middle;
}
footer .footer .contact-info a {
    font: 30px 'iconfont';
    color: #333;
    letter-spacing: 0.3em;
}
footer .footer .contact-info a:hover {
    font: 30px 'iconfont';
    color: #fed136;
}
footer span:last-child a {
    color: #fed136;
}